.vscode/
.ipynb_checkpoints/
__pycache__/

# internal
code_snippets/
dep/
data/datasets
data/file_groups
data/smi2gcs_calculations
data/ml_predictions/*
!data/ml_predictions/
data/qm_calculations/*
!data/qm_calculations/

ml_halator/extract_from_log_file_dataset_clas.py
ml_halator/extract_from_log_file_reactiondata.py
ml_halator/extract_reaction_data_eval_metrics_groups.py
ml_halator/get_clas_info.py
ml_halator/ml_analyse_halator.py
ml_halator/ml_clas_full_models_halator.py
ml_halator/ml_optimizer.py
ml_halator/ml_reaction_data.py
ml_halator/ml_reg_full_models_halator.py
ml_halator/ml_validator_clas_halator.py
ml_halator/ml_validator_reg_halator.py
ml_halator/train_n_shells.py


notebooks/
reports/


utils/check_orca_rerun_calc.py
utils/fix_orca_rerun_calc_reaction_data.py
utils/fix_orca_rerun_calc.py
utils/post_cleanup_halator.py
utils/process_dataset.py
utils/process_reaction_data.py
utils/process_val_exp_radicals.py
utils/process_val_exp.py
utils/xyz2mol.py