.vscode/
.ipynb_checkpoints/
__pycache__/

# internal
dep/
data/
ml_halator/
notebooks/
reports/
test/
experimental/
 
utils/ml_analsyse.py
utils/utils_allchemy.py
utils/utils_ibond.py
utils/utils_reaxys.py
utils/utils_shen.py
utils/xyz2mol.py